<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>BlogVista</title>
</head>

<body>
    <%- include('./partials/nav') %>
        <div class="container" style="padding: 20px;">
            <h2 style="text-align: center;">Login</h2>
            <form method="post" action="/user/signin">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label" name="userEmail">Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"  name="userEmail">
                    <div style="color: rgba(0, 0, 0, 0.656); font-weight: 400;"> We will never share your Email with anynone</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label" name="userPassword">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" name="userPassword">
                </div>
                <button type="submit" class="btn btn-primary">Sign in</button>
            </form>
        </div>

        <div class="footimage" style="display: flex; justify-content: center;">
            <img src="/blog3.avif" alt="" width="450px" >
          </div>


        <%- include('./partials/scripts') %>
</body>

</html>